<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>初学Vue-demo5</title>
</head>
<body>
	<script type="text/javascript" src="../js/vue.js"></script>
	<h2>输入计算操作</h2>
	<div id="app">
		<input type="text" v-model='firstname'/>
		<input type="text" v-model='lastname'/>
		<p>{{fullname}}</p>
	</div>

	<script type="text/javascript">
		new Vue({
			el:"#app",
			data:{
				firstname:'Foo',
				lastname:'Bar'
			},
			computed: {
				fullname: function(){
					return this.firstname+" "+ this.lastname
				}
			}
		})		
	</script>
</body>
</html>